.pokemon-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80%;
	justify-content: space-evenly;
	margin-top: 10px;
}

.pokedex-container {
	background-color: #dc082e;
	border-radius: 20px;
	box-shadow: 6px 6px #710417;
	height: 670px;
	margin: 20px auto;
	max-width: 360px;
	min-width: 300px;
	width: 100%;
}

.pokedex-container header {
	position: relative;
}

.pokedex-title {
	color: #a5001d;
	position: absolute;
	left: 170px;
	top: 20px;
	text-align: center;
	text-shadow: 0px 1px 0px #ffffff4d, 0px -1px 0px #000000b3;
}

.pokedex-three-lights {
	/* border: 1px solid black; */
	display: flex;
	height: 40px;
	justify-content: space-around;
	margin-top: 10px;
	position: relative;
	width: 30%;
}

.top-design {
	display: flex;
}

.big-blue-light {
	background-color: #2cacfd;
	box-shadow: 6px 3px #18699e;
	border-radius: 50%;
	height: 100px;
	margin-left: 20px;
	margin-top: 20px;
	width: 100px;
}

.light-circles {
	/* border: 2px solid black; */
	border-radius: 50%;
	height: 10px;
	width: 10px;
}

.red-light {
	background-color: #f0576f;
	box-shadow: 2px 1px #ab0522;
}

.green-light {
	background-color: #79b783;
	box-shadow: 2px 1px #3a8045;
}

.yellow-light {
	background-color: #f9e87f;
	box-shadow: 2px 1px #98840e;
}
