button:hover {
	cursor: pointer;
	border: none;
}

.arrow-button-box {
	background-color: transparent;
	border: none;
	height: 80px;
	width: 100px;
}

.arrow-button-box:hover {
	color: transparent;
}

.arrow-style {
	fill: #fbe250;
	height: 100%;
	width: 100%;
	stroke-width: 30;
}

.nav-button-container {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.open-search-button {
	border-radius: 10px;
	background-color: gray;
	border: 1px solid black;
	height: 50px;
	width: 200px;
	font-size: 1rem;
	font-weight: bold;
}

.search-buttons {
	border: 1px solid black;
	border-radius: 15px;
}

.search-button-style {
	height: 2em;
	width: 2em;
}
