ul {
	list-style: none;
	padding-left: 0px;
}

.pokemon-details-wrapper {
	position: relative;
	bottom: 10%;
}

.pokemon-details-container {
	margin: 10px auto;
	border: 1px solid black;
	width: 80%;
	max-width: 400px;
	background-color: #262927;
}

.details-text {
	color: #3ee052;
}
