ul {
	list-style: none;
	padding-left: 0px;
}

.pokemon-details-wrapper {
	position: relative;
	bottom: 10%;
}

.pokemon-details-container {
	align-items: center;
	background-color: #262927;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	height: 250px;
	justify-content: center;
	margin: 10px auto;
	max-width: 400px;
	width: 80%;
}

.details-text {
	color: #3ee052;
}
