.pokemon-details-container ul {
	list-style: none;
	padding-left: 0px;
}

.pokemon-details-container img {
	width: 100%;
}

.pokemon-details-container h1 {
	margin: 0px;
}

.pokemon-details-wrapper {
	bottom: 10%;
	position: relative;
}

.pokemon-details-container {
	align-items: center;
	background-color: #262927;
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 250px;
	justify-content: center;
	margin: 15px;
	max-width: 400px;
}

.details-text {
	color: #3ee052;
	margin: 0px;
}

.outer-details-container {
	background-color: #c4c4c4;
	/* border: 1px solid black; */
	border-radius: 10px 10px 10px 70px;
	box-shadow: 6px 6px #6b6868;
	margin: 20px 20px;
	padding: 20px 20px;
}

.image-container {
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 150px;
	height: 150px;
}
