.search-input {
	border: 1px solid black;
	height: 100%;
	padding-left: 10px;
	width: 180px;
}

.search-bar-container {
	background-color: gray;
	border-radius: 5px;
	display: flex;
	height: 50px;
	justify-content: space-evenly;
	margin-bottom: 15px;
	padding: 8px;
	width: 300px;
}

.pokemon-autocomplete-list {
	background-color: white;
	border-top: none;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	bottom: 0px;
	height: 100px;
	list-style: none;
	padding-left: 10px;
	position: relative;
	margin: 0px;
	overflow-y: scroll;
	text-align: left;
	width: 180px;
	z-index: 999;
}

.autocomplete-choice:hover {
	background-color: #fbe250;
}
