.search-input {
	border-radius: 10px;
	height: 100%;
	width: 95%;
}

.search-input-container {
	width: 200px;
}

.search-container {
	display: flex;
	height: 60px;
	justify-content: space-evenly;
	padding: 8px;
}

.pokemon-autocomplete-list {
	background-color: white;
	border: 1px solid white;
	bottom: -187px;
	list-style: none;
	position: absolute;
	padding-left: 10px;
	text-align: left;
	margin: 0px;
	left: 19px;
	height: 200px;
	overflow: scroll;
	width: 190px;
}

.autocomplete-choice:hover {
	background-color: yellow;
}

.search-buttons-container {
	width: 40%;
	display: flex;
	justify-content: space-evenly;
	height: 100%;
}
