.search-input {
	border: 1px solid black;
	height: 100%;
	padding-left: 10px;
	width: 180px;
}

.search-input-container {
	width: 200px;
}

.search-container {
	animation: fadeIn ease 20s;
	display: flex;
	height: 60px;
	justify-content: space-evenly;
	padding: 8px;
}

.pokemon-autocomplete-list {
	background-color: white;
	border-top: none;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	bottom: -5px;
	list-style: none;
	position: absolute;
	padding-left: 10px;
	text-align: left;
	margin: 0px;
	left: 20px;
	height: 100px;
	overflow-y: scroll;
	width: 180px;
}

.autocomplete-choice:hover {
	background-color: yellow;
}

.search-buttons-container {
	width: 40%;
	display: flex;
	justify-content: space-evenly;
	height: 100%;
}
